.container {
  position: relative;
  flex: 0 0 auto;
}

.button {
  color: var(--transport-btn-bg-color);
  filter: var(--transport-btn-filter);
}

.button svg {
  height: var(--icon-size-xl);
}

.popover {
  position: absolute;
  z-index: 10;
  right: 0;
  top: calc(100% + var(--space-xs));
  width: 12rem;
  max-width: 70vw;
  padding: var(--space-m);
  background: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.slider {
  --handle-scale: 0.5;

  width: 100%;
}
