.download {
  background-image: linear-gradient(to right,
      hsl(var(--hue-blue), 100%, 20%) 99%,
      transparent 100%);
  background-repeat: no-repeat;
  background-size: var(--download-progress, 0%) 100%;
  transition: background-size 300ms linear;
}

.primary {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-left: var(--container-padding);
}

.remove {
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  align-self: center;
  margin: 0 var(--space-s);
  color: var(--btn-danger-bg-color);
  filter: var(--btn-danger-filter);
}

.remove svg {
  width: 100%;
  height: 100%;
}

.title,
.status,
.user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  color: var(--color-gray-9);
  font-size: 1.25rem;
}

.status {
  flex: 1;
  color: var(--color-gray-7);
  font-size: 1rem;
}

.user {
  margin-bottom: 0.25rem;
  color: var(--queued-item-color);
  font-size: var(--font-size-s);
  text-shadow: var(--text-shadow-glow);
}

@media (max-width: 600px) {
  .primary {
    margin-left: var(--space-s);
  }

  .title {
    font-size: var(--font-size-m);
  }

  .status {
    font-size: var(--font-size-s);
  }

  .remove {
    flex-basis: 38px;
    width: 38px;
    height: 38px;
    margin: 0 var(--space-xs);
  }
}
