.download {
  background-image: linear-gradient(to right,
      hsl(var(--hue-blue), 100%, 20%) 99%,
      transparent 100%);
  background-repeat: no-repeat;
  background-size: var(--download-progress, 0%) 100%;
  transition: background-size 300ms linear;
}

.primary {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-left: var(--container-padding);
}

.title,
.status,
.user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  color: var(--color-gray-9);
  font-size: 1.25rem;
}

.status {
  flex: 1;
  color: var(--color-gray-7);
  font-size: 1rem;
}

.user {
  margin-bottom: 0.25rem;
  color: var(--queued-item-color);
  font-size: var(--font-size-s);
  text-shadow: var(--text-shadow-glow);
}

@media (max-width: 600px) {
  .primary {
    margin-left: var(--space-s);
  }

  .title {
    font-size: var(--font-size-m);
  }

  .status {
    font-size: var(--font-size-s);
  }
}
